@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family:"Regular";
    src: local("Raleway")
    url("./assets/fonts/Raleway-Regular.ttf") format('truetype') ;
}

@font-face {
    font-family:"Medium";
    src: local("Raleway")
    url("./assets/fonts/Raleway-Medium.ttf") format('truetype') ;
}


@font-face {
    font-family:Raleway ;
    src: url("./assets/fonts/Raleway-Black.ttf");
  }


  @layer base {
    .animate-blink {
      animation: blink 1s step-start infinite;
    }
  }


  body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.peopleimages.com/picture/202306/2856406-medical-teamwork-and-wellness-collage-of-doctors-in-hospital-for-treatment-collaboration-and-support-staff.-healthcare-medicine-and-help-with-group-of-people-for-diversity-insurance-and-career-fit_400_400.jpg);
  }
