@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family:"Regular";
    src: local("Raleway")
    url("./assets/fonts/Raleway-Regular.ttf") format('truetype') ;
}

@font-face {
    font-family:"Medium";
    src: local("Raleway")
    url("./assets/fonts/Raleway-Medium.ttf") format('truetype') ;
}


@font-face {
    font-family:Raleway ;
    src: url("./assets/fonts/Raleway-Black.ttf");
  }


  @layer base {
    .animate-blink {
      animation: blink 1s step-start infinite;
    }
  }


  body{
    background-color:rgb(255, 255, 255);
    
  }

  body::selection{
    opacity: 0;
  }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.newtext{
  color: black

  ;
}